<h1>Login to your account</h1>
<div [hidden]="message['type']='error'" class="alert alert-danger" role="alert">
  There are following error in your form:
  <ul>
    <li *ngFor="let mess of message['messages']">
      {{mess}}
    </li>
  </ul>
</div>
<form style="width:500px; display: inline-block;" #userForm="ngForm">
    <div class="form-group">
        <label for="name">E-mail</label>
        <input type="text" class="form-control" id="email"
               required
               name="email" #inputEmail>
    </div>
    <div class="form-group">
        <label for="surname">Password</label>
        <input type="password" class="form-control" id="password"
               required name="password" #inputPassword>
    </div>
    <button class="btn btn-success" (click)="login(inputEmail.value, inputPassword.value)">Login</button>
    <!-- <button type="submit" class="btn btn-success">Login</button> -->
</form>

