/* DashboardComponent's private CSS styles */

.handcrafter{
  padding-top: 90px;
  padding-bottom: 20px;


}
.page_title{
    margin-bottom: 40px;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;

}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h5{
  position: relative;
}
.grid {
  margin: 0;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
.col-1-4 {
  width: 25%;
  text-decoration: none;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
  text-decoration: none;
}
.module:hover {
  background-color:white;
  cursor: pointer;
  color: #607d8b;
  text-decoration: none;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

