@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.shots{
    margin-top: 90px;
    margin-bottom: 20px;
}
.grid {
    margin: 0;
}
.grid-pad {
    padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;

}
.col-1-4 {
    width: 25%;

}
.inner-box-top {
    margin-top:35px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    overflow: hidden;
    max-height: 200px;
}
.inner-box-top >a{
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(255,255,255, 0.7);
    color: #444;
    height: 100%;
    font-size: 0.8em;
    width: 100%;
}
.short_description{
    line-height: 1.5em;
    height: 6em !important;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 5px;
}
.inner-box-top:hover >a{
    display: inline-block;
    text-decoration: none;
}
.inner-box-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inner-box-top p{
    font-weight: bold;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 5px;
    font-size:  0.8em;
    color: #777;
}
.inner-box-down {
    background-color: white;
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.inner-box-down >ul{
    padding-left: 10px;
}
.shot-detail{
    background-color: red;
    border-style: solid;
    border-color: white;
}
a.user_link_date{
    color: #777777;
}
a.shot_name{
    color: #777777;
    font-weight: bold;
    font-size: 0.8em;
}
a.user_name{
    text-decoration: none;
    color: #607d8b;
    font-weight: 600;
    font-size: 0.9em;

}
a.user_name:hover{
    text-decoration: none;
    color: #465C66;
}
.page_title{
    margin-bottom: 20px;
}
[class*='col-'] {
    float: left;
    padding-right: 20px;
  /*  padding-left: 20px;*/
    padding-left: 30px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
@media (max-width: 600px) {
  .col-1-4{
    width: 50%; }
}
@media (max-width: 1024px) {
 .col-1-4{
    width: 50%; }
}





















